<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="gitLink.enterpriseGitHub.rawGitUrlFormat" value="https://catenalogic-github.catenalogic.corp/{0}/{1}/raw" />
		<add key="gitLink.enterpriseGitHub.gitHubUrlRegex" value="(?&lt;url&gt;(?&lt;companyurl&gt;(?:https://catenalogic-)?github\.catenalogic.corp/(?&lt;company&gt;[^/]+))/(?&lt;project&gt;[^/]+))" />
	</appSettings>
</configuration>